In [36]:
# In this notebook I am going to build the Binary Classification model
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from functions import *

In [37]:
# Read the data
data_lakes_mean = pd.read_csv("out\processed_data_lakes_mean.csv", encoding = 'cp1252')
data_lakes_mean.head()

,STN\nCode,Name of Monitoring Location,Type Water Body,State Name,TemperatureC_mean,Dissolved Oxygen_mg/L_mean,pH_mean,Conductivity_mhos/cm_mean,BOD_mg/L_mean,Nitrate_N_mg/L_mean,Fecal_Coliform_MPN/100ml_mean,Total_Coliform_MPN/100ml_mean
0,4368,"KOLLERU LAKE KOKKIRAYALANKA (V), KAILALUR (M)",LAKE,ANDHRA PRADESH,25.5,4.85,7.50,2702.5,2.40,2.310,15.0,165.0
1,2353,"KONDAKARLA-AAVA LAKE, PARAWADA PHARMA CITY, VI...",LAKE,ANDHRA PRADESH,27.5,4.90,7.35,889.0,3.25,2.165,19.0,195.0
2,1790,"PULICATE LAKE , NELLORE DIST",LAKE,ANDHRA PRADESH,21.0,5.10,7.70,42450.0,2.60,1.420,3.0,98.5
3,4391,"CHENGAMBAKAM TANK IN SRI CITY SEZ,\nTIRUPATHI",TANK,ANDHRA PRADESH,25.5,5.80,7.10,328.0,1.75,1.320,194.5,359.5
4,4921,ANNAMAYYA PROJECT ON CHEYYERU\nRESERVOIR,Wetland,ANDHRA PRADESH,25.5,5.95,7.65,615.0,1.65,0.675,166.0,483.5

In [38]:
# Data info
data_lakes_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   STN
Code                       542 non-null    int64
 1   Name of Monitoring Location    542 non-null    object
 2   Type Water Body                542 non-null    object
 3   State Name                     542 non-null    object
 4   TemperatureC_mean              542 non-null    float64
 5   Dissolved Oxygen_mg/L_mean     542 non-null    float64
 6   pH_mean                        542 non-null    float64
 7   Conductivity_mhos/cm_mean      542 non-null    float64
 8   BOD_mg/L_mean                  542 non-null    float64
 9   Nitrate_N_mg/L_mean            542 non-null    float64
 10  Fecal_Coliform_MPN/100ml_mean  542 non-null    float64
 11  Total_Coliform_MPN/100ml_mean  542 non-null    float64
dtypes: float64(8), int64(1), object(3)
memory usage: 50.9+ KB

In [39]:
#Become ph to binary (acid = 1 = ph < 7.25 and base = 0 = ph > 7.25)
data_lakes_mean.loc[data_lakes_mean["pH_mean"] < 7.25 , "pH_mean"] = 1
data_lakes_mean.loc[data_lakes_mean["pH_mean"] > 7.25 , "pH_mean"] = 0
data_lakes_mean["pH_mean"]=data_lakes_mean["pH_mean"].astype("int64")
data_lakes_mean.head(15)

,STN\nCode,Name of Monitoring Location,Type Water Body,State Name,TemperatureC_mean,Dissolved Oxygen_mg/L_mean,pH_mean,Conductivity_mhos/cm_mean,BOD_mg/L_mean,Nitrate_N_mg/L_mean,Fecal_Coliform_MPN/100ml_mean,Total_Coliform_MPN/100ml_mean
0,4368,"KOLLERU LAKE KOKKIRAYALANKA (V), KAILALUR (M)",LAKE,ANDHRA PRADESH,25.5,4.85,0,2702.5,2.40,2.310,15.0,165.0
1,2353,"KONDAKARLA-AAVA LAKE, PARAWADA PHARMA CITY, VI...",LAKE,ANDHRA PRADESH,27.5,4.90,0,889.0,3.25,2.165,19.0,195.0
2,1790,"PULICATE LAKE , NELLORE DIST",LAKE,ANDHRA PRADESH,21.0,5.10,0,42450.0,2.60,1.420,3.0,98.5
3,4391,"CHENGAMBAKAM TANK IN SRI CITY SEZ,\nTIRUPATHI",TANK,ANDHRA PRADESH,25.5,5.80,1,328.0,1.75,1.320,194.5,359.5
4,4921,ANNAMAYYA PROJECT ON CHEYYERU\nRESERVOIR,Wetland,ANDHRA PRADESH,25.5,5.95,0,615.0,1.65,0.675,166.0,483.5
5,4936,ANUMANAPALLE CHERUVU,Wetland,ANDHRA PRADESH,22.5,7.15,0,239.0,1.70,1.105,3.5,106.5
6,4919,BRAMHASAGAR,Wetland,ANDHRA PRADESH,24.5,5.75,0,494.5,1.60,0.495,183.5,406.0
7,4926,DALI TANK,Wetland,ANDHRA PRADESH,26.5,5.75,0,9612.0,2.00,1.600,9.5,76.0
8,4931,GACCHAKAYALA PORA (LAGOON),Wetland,ANDHRA PRADESH,29.0,5.85,0,34565.0,2.50,1.745,9.5,92.0
9,4917,GANGINENI CHERUVU,Wetland,ANDHRA PRADESH,25.5,4.80,0,1064.0,2.85,2.795,425.0,830.0
10,4934,INTERU SWAMPS,Wetland,ANDHRA PRADESH,25.5,6.80,0,21485.0,2.60,1.460,3.0,106.5
11,4918,KATTAMANCHI CHERUVU,Wetland,ANDHRA PRADESH,26.5,4.95,0,1018.0,2.50,1.780,347.5,775.0
12,4933,KRISHNA MANGROVES,Wetland,ANDHRA PRADESH,26.0,5.65,0,29250.0,2.60,1.420,3.0,110.5
13,4916,MID PENNAR RESERVOIR,Wetland,ANDHRA PRADESH,24.0,5.80,0,453.0,1.35,1.450,230.0,439.5
14,4925,NAUPADA SWAMPS,Wetland,ANDHRA PRADESH,27.0,5.00,0,29415.0,2.95,3.580,17.5,551.0

In [40]:
# Data info 2.0
data_lakes_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   STN
Code                       542 non-null    int64
 1   Name of Monitoring Location    542 non-null    object
 2   Type Water Body                542 non-null    object
 3   State Name                     542 non-null    object
 4   TemperatureC_mean              542 non-null    float64
 5   Dissolved Oxygen_mg/L_mean     542 non-null    float64
 6   pH_mean                        542 non-null    int64
 7   Conductivity_mhos/cm_mean      542 non-null    float64
 8   BOD_mg/L_mean                  542 non-null    float64
 9   Nitrate_N_mg/L_mean            542 non-null    float64
 10  Fecal_Coliform_MPN/100ml_mean  542 non-null    float64
 11  Total_Coliform_MPN/100ml_mean  542 non-null    float64
dtypes: float64(7), int64(2), object(3)
memory usage: 50.9+ KB